@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent-red: #991b1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent-red);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Додаємо Serif для заголовків хорору */
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* --- Твій похмурий скролбар --- */

/* Ширина */
::-webkit-scrollbar {
  width: 10px;
}

/* Доріжка (Track) */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Повзунок (Thumb) */
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 5px;
  border: 2px solid var(--background);
}

/* Повзунок при наведенні */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-red);
  box-shadow: 0 0 10px var(--accent-red);
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1a1a1a var(--background);
}